$black: #000;
$white: #fff;
$brand-color-light-gray: #dddddd;
$brand-color-dark-gray: #363c44;
$brand-color-darker-gray: #4f4f4f;
$brand-color-medium-gray: #717171;
$brand-color-emerald: #2ecc71;
$brand-color-alizarin: #e74c3c;