label {
  font-family: monospace;
  font-weight: 600;
  color: $brand-color-medium-gray;
  text-transform: uppercase;
  font-size: 11px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}